.ceo-bg {
  background-image: url('/content/uploads/2015/09/ceo-bg.jpg');
  background-size: cover;
  background-position: 50%;
  height:700px;
  position:relative;
}
.ceo-intro {
  background-color:rgba(255,255,255,.85);
  position:absolute;
  bottom:0;
  width: 100%;
  padding-top:60px;
  padding-bottom:60px;

  button:hover {
    cursor:pointer;
  }
}

.ceo-content {
  height: 300pt;
  position: absolute;
  bottom: 0;
  background:#fff;
  width:100%;
  padding-top:30px;

  .col-md-12{
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
    -webkit-column-gap: 40px; /* Chrome, Safari, Opera */
    -moz-column-gap: 40px; /* Firefox */
    column-gap: 40px;
    min-height:285px;
  }

}

.wide-title {
  max-width:550px
}

.ceo-button {
  background: transparent;
  color: #179961;
  padding: 6px 20px;
  border: 2px solid;
  margin: 30pt auto;
  width: 260px;
  display: block;
  font-size: 25px;
  letter-spacing: 2px;
  text-align: center;
  font-family: "Knockout 27 A", "Knockout 27 B";
  text-transform:uppercase;

  &:hover {
    background-color:#179961;
    color:#fff;
    border-color:#179961;
  }

  i {
    padding-left:10px;
  }

}

.x-close {
  text-align:right;
  font-family:sans-serif;
  font-size:30px;
  padding-bottom:30px;

  i {
    border:solid 2px;
    line-height:40px;
    padding:0px 15px;
    cursor: pointer;
  }
}

#ceo-content-mobile {
  display:none;
}

@media (max-width: @screen-sm-max) {

  .ceo-intro{
    display:none;
  }

  #ceo-content-mobile {
    display:block;
    padding-top:70px;
  }
  .x-close {
    display:none;
  }
  .ceo-bg {
    height:350px;
  }

}
