.commit-img {
  padding:0px;
  opacity:.8
}


.commit-img:hover {
  opacity:1
}

.commit-title {
  color:#fff;
  height:100px;
  vertical-align:middle;
  text-transform:uppercase;
  margin-top:0px;
}

.safe, .peop, .natu, .comm {
  margin-top:1000px;
}

// For all sub pages

#commit-intro-quote {

  background:#179961;
  padding-top:60px;
  padding-bottom:60px;
  color:#fff;

  h4 {
    font-size:60px;
    width:70%;
    margin:10px auto;
    line-height:58px;
  }
}

.content-right {
  padding: 80px 0px 0px 100px;
}
.content-right h2, .content-left h2 {
  font-size:70px;
}

.content-right h3, .content-left h3 {
  font-size:40px;
}

.content-img-right {
  min-height: 66pc;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  display: block;

}
.content-img-left {
  min-height: 66pc;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  display: block;

}


#stat-section {
  background-color:#357f88;
  padding-top:60px;
  padding-bottom:60px;
}

#subpage-hero h3 {
  bottom: -17pc;
  position: absolute;
  color: #fff;
  font-size: 65pt;
  line-height: 89px;
  letter-spacing: 2px;
  text-shadow: 0 1px 1px rgba(0,0,0,.3);
}

#subpage-hero .quote-box {
  top:280px;
}

#subpage-hero {
  background-size: cover;
  background-position: 50%;
}

#commit-intro-quote p {
  width:40%;
  margin:0 auto
}

.commitment-button a{
  background:#fff;
  color:#179961;
  padding:6px 20px;
  border:1px solid ;
  margin:0 auto 100px auto;
  width:180px;display:block;
  font-family: "Knockout 27 A", "Knockout 27 B";
  text-transform:uppercase;
  font-size:25px;
  letter-spacing:2px;
  text-align: center;
}

.commitment-button a:hover {
  background-color:#179961;
  color:#fff;
  text-decoration: none;
}

#commitments p {
  padding: 50px 50px 30px 50px;
  min-height: 300px;
}

#stat-section img {
  margin:0 auto;
  width:100px;
  display:block
}

#stat-section h4 {
  font-size:28px;
  color:#fff;
  margin-bottom:30px;
}

.content-right, .content-left {
  max-width:600px;
}

#number-ticker {
  background-color:#179961;
  padding-top:50px;
  padding-bottom:50px;
}

#number-ticker img {
  margin:0 auto;
  width:100px;
  display:block
}

#number-ticker h4 {
  font-size: 17px;
  color: #fff;
  font-family: "Archer A", "Archer B";
  margin-top: 35px;
}
#number-ticker {
  font-family: "Archer A", "Archer B";
  color:#fff;
  font-size:35px;
}
#number-ticker span {
  font-size:100px;
  line-height:80px
}

.commit-title span {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  height:100px;
  margin:0 auto;
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 23px;
  line-height: 23px;

}
.center-title {
  width:100%;display:table
}

#mainwrapper .box {
  border: 5px solid #fff;
  cursor: pointer;
  height: 182px;
  float: left;
  margin: 5px;
  position: relative;
  overflow: hidden;
  width: 200px;
  -webkit-box-shadow: 1px 1px 1px 1px #ccc;
  -moz-box-shadow: 1px 1px 1px 1px #ccc;
  box-shadow: 1px 1px 1px 1px #ccc;
}

#mainwrapper .box img {
  position: absolute;
  left: 0;
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  -ms-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
}
#mainwrapper .box .caption {
  background-color: rgba(0,0,0,0.8);
  position: absolute;
  color: #fff;
  z-index: 100;
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  -ms-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
  left: 0;
}
#mainwrapper .box .simple-caption {
  height: 30px;
  width: 200px;
  display: block;
  bottom: -30px;
  line-height: 25pt;
  text-align: center;
}
#mainwrapper .box:hover .simple-caption {
  -moz-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
}


.view-chart:hover {
  opacity:.6;
  cursor:pointer
}

#commitments-tab-section {
  display:none;
}




@media (max-width: @screen-sm-max) {

  #commitments-tab-section {
    display:block;
  }
  #commitments {
    display:none;
  }

  .panel {
    margin-top:0px !important;
    border:none;
  }

  .panel-default>.panel-heading{
    border-bottom:1px solid #ccc;
    background-color:#fff;
    color:#179961;
    font-size:30px;
  }
  .panel-default>.panel-heading a{
    font-size:28px;
  }
  .content-img {
    min-height: 45pc;
  }
  .content-right {
    padding: 50px;
  }
  .content-left, .content-right {
    max-width: 800px;
  }

}

@media (max-width: @screen-xs-max) {

  .content-img-left, .content-img-right {
    min-height: 25pc;
  }
  .content-right {
    padding: 15px;
  }

  #commit-intro-quote h4 {
    width:100%;
  }

  #commit-intro-quote p {
    width:100%;
  }
  #mobile-quote {
    display: block !important;
    min-height:240px;

    .quote-box {
      display: block !important;
      top:0px;
      left:0;
    }
  }
  .parallaxParent2 {
    height: 50vh;
  }

  .quote-box-mobile {
    padding: 40px;
    letter-spacing: .3px;
    font-size: 1pc;
  }

  #subpage-hero h3 {
    font-size:70px;
    line-height: 70px;
  }


}

@media (max-width: @screen-xs-max) {
  .modal-dialog {
    width: 100%;
  }

  .modal-dialog img {
    width:100% !important;
  }

  .carousel .item {
    background-position:80% !important;
  }

  #subpage-hero {
    background-position:80%;
  }

  .community-hero {
    background-position:20% !important;
  }
}









#content-section-left, #mission {
  overflow:hidden
}


.caption {
  background-color:rgba(0,0,0,0);
  bottom:-200px;
  position:absolute;
  padding:40px 40px 30px 40px;
  margin-left:-15px;
}

.content-img-left {
  overflow:hidden;
}

@media (min-width: @screen-md-min) and (max-width: @screen-md-max) {

  .content-img-left, .content-img-right {
    min-height: 76pc;
  }
  .content-right {
    padding: 40px;
  }


}













.saftey {
  .bkg-img {
    position: absolute;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-size: cover;

  }
}