#footer {
  background-color:#2f2f2f;
  padding-top:40px;
  padding-bottom:40px;
}
#footer p {
  color:#fff
}

button.contact-button {
  text-transform:uppercase;
  font-family: "Knockout 27 A","Knockout 27 B";
  letter-spacing: 1px;
  font-size: 22px;
  padding: 5px 15px;
  height: 40px;
  top: -20px;
  position: relative;
  right: 22px;
  width: 200px;
  background: transparent;
  border: solid 1px #fff;
  color: #fff;
}

button.contact-button:hover {
  background:#fff;
  color:#2f2f2f;
}

#footerModal h4 {
  color:#179961 !important;
  font-size:78px;
  text-align:center
}

#footerModal input, #footerModal textarea {
  width:100%;
  padding:15px;
  border:solid 1px #999;
}
#footerModal input[type=submit] {
  background-color:#179961;
  color:#fff;
  font-size:20px;
  font-weight:600;
}
#footerModal .modal-dialog {
  margin:0 auto;
  max-width:600px;
}

.shareaholic-canvas {
  clear: both;
  position: relative;
  margin-bottom: -63px;
  right: 245px;
  top:42px;
}

#footer {
  .shareaholic-share-buttons-container ul.shareaholic-share-buttons {
    padding: 0 !important;
  }

  .shareaholic-share-buttons-container li.shareaholic-share-button {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 5px;
    padding-right: 5px;
  }
}

body img.gform_ajax_spinner {
  display: none!important;
}



.download-button {
  padding: 8px 0px;
  text-transform:uppercase;
  font-size:22px;
  font-family: "Knockout 27 A","Knockout 27 B";
  letter-spacing: 1px;
  margin-left:50px;
  background-color:transparent;
  border:1px solid #fff;
    color:#fff;
    padding: 8px 15px;

}

.download-button:hover {
  background-color:#fff;
  color:#333;
}

.download-button a:hover {
  color:#333;
  text-decoration: none;
}

.footer-brand img {
  margin-top:15px;
}



@media (max-width: @screen-sm-max) {

  .download-report {
    display: none;
  }

  button.contact-button {
    top:-60px;
    width:140px;
  }
  .shareaholic-canvas {
    margin-bottom: -35px;
    right: 15px;
  }

  .section-title {
    font-size:70px;
  }

}