.nav li{

  display:inline-block;

  a{
    color:#fff;
    padding:30px 15px;
    display:block;
    text-transform:uppercase;
    font-size:20px;
  }

}

.navbar {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&amp;0.5+0,0+100 */
  background: -moz-linear-gradient(top,  rgba(0,0,0,0.7) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.7)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(0,0,0,0.7) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(0,0,0,0.7) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(0,0,0,0.7) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(0,0,0,0.7) 0%,rgba(0,0,0,0) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
  border:none;
  height:150px;
}

.navbar-toggle {

  border: 2px solid rgb(255, 255, 255);

  .icon-bar {
    background-color:#fff;
  }

}

@media (max-width: @screen-sm-min) {
  .navbar-brand>img {
    height:40px;
  }


}

h2 {
  font-family: "Knockout 27 A", "Knockout 27 B";
  font-style: normal;
  font-weight: 400;
  text-transform:uppercase;
}

body {
  font-family: "Archer A", "Archer B";
  font-style: normal;
  font-weight: 500;
  font-size:15px;
}

#menu {
  font-family: "Knockout 27 A", "Knockout 27 B";
  font-style: normal;
  font-weight: 400;
  font-size:22px;
  letter-spacing:1px;
}

.section-title {
  font-size:78px;
  letter-spacing:5px;
  max-width:400px;
  line-height:70px;
  margin:0 auto;
  text-transform:uppercase;
  padding-top:80px;
  padding-bottom:80px;
}

.nav li a:hover, .current-menu-item a {
  background:none;
  border-top:3px solid #fff;
  padding-top:27px !important
}

.green-text {
  color:#179961;
}

.modal-dialog {
  width: 730px;
  margin: 200px auto;
}

.modal {

  background-color:rgba(0,0,0,.85);

  img {
    width:700px !important
  }

}

.modal-header {
  border-bottom:none;
}

.modal-header .close {
  margin-top: -20px;
  font-size:40px;
  color:#fff;
  text-shadow: none;
  opacity: 1;
  margin-bottom:20px;
}
h1, h2, h3, h4 {
  font-family: "Knockout 27 A", "Knockout 27 B";
  letter-spacing:2px;
  text-transform: uppercase;
}



.parallaxParent {
  height: 100vh;
  overflow: hidden;
}
.parallaxParent > * {
  height: 200%;
  position: relative;
  top: -100%;
}

strong{
  font-weight:900
}

.sticky{
  height:60px
}

@media (max-width: @screen-xs-max) {


  .navbar-collapse.collapse.in {
    background-color:rgba(47, 47, 47, 0.952941);
  }

  .navbar-header {
    background-color:rgba(47, 47, 47, 0.952941);
    height:70px
  }
  .navbar-collapse.collapse.in li{
    display:block;
  }

  .navbar-collapse.collapse.in li a{
    padding:15px
  }

  .navbar-collapse.collapse.in li a:hover{
    padding:15px !important;
    border:none;
    opacity:.5
  }

}

@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {

  .nav li a {
    padding: 30px 8px;
    font-size: 17px;
  }

}

@media (min-width: @screen-md-min) and (max-width: @screen-md-max) {

  .nav li a {
    padding: 30px 15px;
    font-size: 20px;
  }


}
