/*
#intro-quote {
  background-size: cover;
  background-position: 50%;
  height:700px;
}
*/


.quote-box {
  background-color: rgba(255,255,255,.85);
  padding: 40px;
  top: 30vh;
  position: absolute;
  z-index: 999;
  letter-spacing: .3px;
  font-size:16px;

  p {
    margin-bottom:0px;
  }

}

.quote-box h3 {
  font-size:46px;
  text-align:center;
  line-height:48px;
  margin-bottom:0px;
}

.parallaxParent {
  height: 650px;
  overflow: hidden;
}
.parallaxParent > * {
  height: 200%;
  position: relative;
  top: -100%;
  background-size: cover;
  background-position: 50%;
}


@media (max-width: @screen-xs-max) {

  .quote-box {
    padding:20px;
    font-size:12px;
    margin-left:-15px;
    top:310px;
    height:341px;

    h3 {
      font-size:33px;
      line-height:2pc;
    }

  }

}




.mapp-popup h2 {
  margin-top: 0;
  color: #333;
  font-family: "Knockout 27 A", "Knockout 27 B";
  font-size: 38px;
  text-align: center;
}



.mapp-close {
  border:1px solid #179961;
  color:#179961;
  padding:5px 10px;
  margin-top:30px;
  display:block;
  text-align:center;
  font-family: "Knockout 27 A", "Knockout 27 B";
  text-transform:uppercase;
  font-size:35px;
  letter-spacing:1px;
}
.mapp-close:hover {
  background-color:#179961;
  color:#fff !important;
  text-decoration:none;
}

.mapp-popup{

  .mapp-content {
    max-height: 30%;
    overflow: auto;
    -webkit-background-size:contain;
    background-size:contain;
    min-height:260px;
    background-repeat: no-repeat;
  }

  img {
    margin:0 auto !important;
    width:200px;
    display:block;
  }
}


/*Let's make it appear when the page loads*/
.mapp-overlay:target:before {
  display: none;
}
.mapp-overlay:before {
  content:"";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  z-index: 9;
}
.mapp-overlay .mapp-popup {
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: fixed;
  top: 0;
  left: 35%;
  padding: 25px;
  margin: 200px auto;
  z-index: 9999;
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}
.mapp-overlay:target .mapp-popup {
  top: -100%;
  left: -100%;
}

@media screen and (max-width: 768px){
  .mapp-box{
    width: 70%;
  }
  .mapp-overlay .mapp-popup{
    width: 70%;
    left: 15%;
  }
}