#subpage-hero-map {
  height:1100pt;
  background-size: cover;
  background-position: 50%;
}

.map {
  margin-top:450px
}

#subpage-hero-map .quote-box {
  background-color: transparent !important;
  color:#fff;
  padding: 0px;
}

#subpage-hero-map h3 {
  bottom: -17pc;
  position: absolute;
  color: #fff;
  font-size: 75pt;
  line-height: 89px;
  letter-spacing: 2px;
  text-shadow: 0 1px 1px rgba(0,0,0,.3);
}

#subpage-hero-map .quote-box {
  top:280px;
}

.pop-up {
  display: none;
  position: absolute;
  width: 270px;
  padding: 10px;
  background: #eeeeee;
  color: #000000;
  border: 1px solid #1a1a1a;
  font-size: 90%;

  h4 {
    font-size:40px;
    color: #179961;
    margin-top:0px;
    line-height:35px;
  }

  p {
    padding-top:10px;
  }
}

@media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
  #map svg {
    -ms-transform: scale(.8,.8); /* IE 9 */
    -webkit-transform: scale(.8,.8); /* Safari */
    transform: scale(.8,.8);
    transform-origin:0% 20%;
  }
  #map {
    overflow:hidden;
  }
}

@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
  #map svg {
    -ms-transform: scale(.6,.6); /* IE 9 */
    -webkit-transform: scale(.6,.6); /* Safari */
    transform: scale(.6,.6);
    transform-origin:0% 20%;
  }
  #map {
    overflow:hidden;
  }
  #subpage-hero-map {
    height:800pt;
  }
}

@media (max-width: @screen-xs-max) {

  #map{
    display:none;
  }

  #map-mobile {
    display: block !important;
    padding-top:550px !important;
  }

  #map-mobile-content {
    display: block !important;


    img {
      width:100%;
    }
  }

  #map {
    overflow:hidden;
  }
  .map {
    margin-top:300px;
  }

  #subpage-hero-map {
    height: 700pt !important;

    .quote-box {
      padding:20px;
    }
  }
  #subpage-hero .quote-box {
    display:none;
  }

  #mapp-popup1 {
    display:none;
  }

}
