#mission {
  background: #2f2f2c; /* Old browsers */
  background: -moz-linear-gradient(left,  #2f2f2c 0%, #2f2f2c 24%, #179961 24%, #179961 24%, #179961 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#2f2f2c), color-stop(24%,#2f2f2c), color-stop(24%,#179961), color-stop(24%,#179961), color-stop(100%,#179961)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,  #2f2f2c 0%,#2f2f2c 24%,#179961 24%,#179961 24%,#179961 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left,  #2f2f2c 0%,#2f2f2c 24%,#179961 24%,#179961 24%,#179961 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left,  #2f2f2c 0%,#2f2f2c 24%,#179961 24%,#179961 24%,#179961 100%); /* IE10+ */
  background: linear-gradient(to right,  #2f2f2c 0%,#2f2f2c 24%,#179961 24%,#179961 24%,#179961 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2f2f2c', endColorstr='#179961',GradientType=1 ); /* IE6-9 */
  color:#fff;
}

#mission .gray {
  background-color: #2f2f2c;
}

.mission-title {
  height: 250px;
  padding-top: 60px;
  padding-right: 50px;
  font-size: 65px;
  line-height: 60px;
  letter-spacing: 5px;
}
.mission-content {

  position: relative;

  h4{
    padding-top: 70px;
    padding-left: 58px;
    text-transform: none;
    line-height: 30px;
    font-weight: lighter;
    font-size: 22px;
    letter-spacing: 1px;
    font-family: "Archer A", "Archer B";
  }

}


@media (max-width: @screen-sm-max) {
  #mission {
    background:#179961;
  }
  .mission-title {
    margin-top:0px;
    height:190px;
    padding-right:0px;
    text-align:center;
    width:100% !important;
  }
  .mission-content {
    padding-left:0px;
    padding-bottom:60px;
  }
  .mission-content h4 {
    padding-left:20px;
  }


}

@media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
  .mission-title {
    padding-right:100px;
  }
}