.other-slides .slick-slide {
  background-color:#fff;
  opacity:1;
}

#others {

  padding-top:200px;

  .slick-dots {
    position: absolute;
    text-align: center;
    top:-100pt;
    left: 50%;
    padding-left: 0px;
    margin-left: -170pt;
    border-bottom: solid 1px #179961;

    li button {
      background-color: #fff;
      border: none;
      padding: 15px 30px;
      border-radius: 4px;
      color: #179961;
      font-family: "Knockout 27 A", "Knockout 27 B";
      font-size: 30px;
    }
  }

  .slick-dots .slick-active {
    border-bottom:3px solid #179961;
  }

  .left-arrow {
    position:absolute;
    z-index:999;
    margin-top:-100px;
    font-size:30px;
  }
  .next-arrow {
    position:absolute;
    z-index:999;
    margin-top:-100px;
    margin-left:100px;
    right:150px;
    font-size:30px;
  }
}

.slick-current:focus {
  outline:none
}

.slick-slider ul {
  list-style:none;
  padding-left:0px;
}

.slick-slider ul li {
  padding-bottom:5px;
}


@media (max-width: @screen-xs-max) {

  #others .slick-dots li button {
    font-size:22px;
    padding: 15px 13px;
  }
  #others .slick-dots {
    margin-left:-155px;
  }
}

