
#principles {

  .slides img {
    width:100%
  }

  .slick-dots li {
    display:inline-block;
  }


  .fa-2 {
    font-size:70px;
  }

  .slick-slide {
    opacity:.3
  }

  .slick-slider {
    background:#000;
    margin-top:120px;
  }

  .slick-center {
    opacity:1
  }

  .left-arrow {
    position:absolute;
    z-index:999;
    color:#fff;
    margin-top:24%;
    margin-left:150px;
  }
  .next-arrow {
    position:absolute;
    z-index:999;
    color:#fff;
    margin-top:24%;
    margin-left:100px;
    right:150px
  }
  .slick-arrow {
    cursor:pointer
  }
  .slick-arrow:hover {
    opacity:.5
  }

  .slick-dots li button{
    opacity:.3;

  }

  .slick-dots li{
    border-left:solid 1px rgba(0,0,0,.2);
  }
  .slick-active button{
    opacity:1 !important
  }

  .slick-dots button {
    text-transform:uppercase;
    letter-spacing:2px;
  }

  #slick-slide00 {
    border-left:none
  }

  .slick-dots {
    position:absolute;
    top:-106pt;
    text-align:center;
    left:50%;
    padding-left:0px;
    margin-left:-170pt;
    border:solid 1px rgba(0,0,0,.2);
    border-radius:4px;

    li button {
      background-color:#fff;
      border:none;
      padding:15px 30px;
      border-radius:4px;
      color:#179961;
      font-family: "Knockout 27 A", "Knockout 27 B";
      font-size:30px;
    }
  }

}

.slick-dots li {
  display:inline-block;
}


.principles-content {
  background-color: rgba(255,255,255,.85);
  padding: 40px;
  top: 200px;
  margin-left: 100px;
  position: absolute;
  width: 500px;
}





.principles-content {

  h2 {
    margin-top:0px;
    letter-spacing:2px;
    font-size:55px;
  }

  h3 {
    margin-top:0px;
    font-size:20px;
    font-family: "Archer A", "Archer B";
  }
}




a:link,
a:visited:focus,
a:hover:focus,
a:focus:focus,
a:active:focus,
button:focus
{
outline:0 !important;
}

.principles-content h3 {
  font-family:archer;
  text-transform:none;
  letter-spacing:.3px;
  font-size:18px;
  line-height:24px;
}

.slick-dots li button:hover {
  opacity:1
}

#principles-mobile {
  display:none;
}

@media (max-width: @screen-sm-max) {

  #principles .slick-slider, .slick-arrow {
    display:none !important;
  }

  #principles-mobile {
    display:block;
  }
}
@media (min-width: @screen-md-min) and (max-width: @screen-md-max) {

  .principles-content {
    padding:20px;
    margin-left:40pt;
    top:150px;

     h3 {
       font-size:13px;
       line-height:20px;
     }
  }
}