
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 700px;
}

.carousel {

  height: 700px;

  .item {
    height: 700px;
    background-size: cover;
    background-position: 50%;
  }

  .carousel-caption {
    text-align:left;
    max-width:40%;
    position:relative;
    left:0%;
    padding-top:200px;
  }

}


.carousel-caption h2 {
  font-size:184px;
  line-height:140px;
  letter-spacing: 8px;
}

.carousel-caption h3 {
  text-transform:uppercase;
  font-weight:bold;
  letter-spacing:1.8px;
  font-size:24px;
  margin-top:10px;
  font-family: "Archer A", "Archer B";
}

#myCarousel .fa {
  font-size:50px;
  color: #fff;
  text-shadow: 0px 2px 1px rgba(0,0,0,.3);
  text-align: center;
  padding-top:30px;
}

.parallaxParent2 {
  height: 80vh;
  overflow: hidden;
}
.parallaxParent2 > * {
  height: 100%;
  position: relative;
  top: -50%;
  background-size: cover;
  background-position: 50%;
}



@media (max-width: @screen-xs-max) {

  #menu {
    height:70px !important;
  }

  .carousel-caption h2 {
    font-size: 90px;
    line-height: 70px;
    letter-spacing: 8px;
  }
  .carousel .carousel-caption {
    max-width:100%;
  }
  .carousel-caption h3{
    font-weight:900;
    font-size:12px;
  }
  .carousel {

    height:530px;

    .item {
      height:530px;
    }

  }
}